backports.tarfile==1.2.0
elasticsearch==8.17.2
fastapi==0.115.12
google-cloud-aiplatform==1.95.0
google-cloud-translate==2.0.1
grpcio-status==1.49.0rc1
importlib-metadata==8.0.0
inflect==7.3.1
ipykernel==6.29.5
ipywidgets==8.1.5
jaraco.collections==5.1.0
langchain==0.3.23
minio==7.2.15
nbformat==5.10.4
openpyxl==3.1.5
pandas==2.2.3
pip-chill==1.0.3
plotly==6.0.1
pydantic-settings==2.9.1
pytest==8.3.5
ruamel.yaml==0.18.10
scikit-learn==1.6.1
tomli==2.0.1
tqdm==4.67.1
uvicorn==0.34.3
xlrd==2.0.1
